.flex1{
    display: flex !important;
    margin-top: 10px;
}

.itemsPpage{
    width: 200px;
    display: grid !important;
    grid-auto-flow: column;

    color: #181c32 !important;
    background-color: #ffffff !important;
    border-color: #ffffff !important;

     flex-wrap: wrap;
         justify-content: center; 
        vertical-align: middle;
}

.labelip{
    display: inline-block;
    font-weight: normal;
    color: #3F4254;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.65rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.42rem;
}
