.ConteinerFiltro{
    padding: 16px;
    max-width: 400px;
}

.PaperTable{
   margin-top: 15px;
   position: relative;
}

.PagTable{
    margin-top: 15px;
    
}

.flexArea{
    display: flex !important;
    margin-top: 10px;
}

.btAddCrud{
    margin-left: auto;
    margin-top: auto;
}

.btFilterAct{
    margin-top: 10px !important;
}
