.btAddonTable{
    display: table;
    margin-left: auto;
    margin-top: 10px;
}

.btAdd{
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 5px  !important;
    margin-bottom: 5px  !important;
}

.bts{
    margin-top: 30px;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
}