.backLoading{
    position: absolute;
    width: 101%;
    height: 100%;
    background: #8080801c;
    z-index: 100;
}

.circleLoading{
    display: inline-flex;
    width: 100% !important;
    height: 100%;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.teste{
    position: absolute;
}