// 3rd-party Plugins
@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Theme Styles
@import "./_metronic/_assets/sass/style.react.scss";

// Default Layout themes
@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
@import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";

// Header themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/base/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/base/dark.scss";
  
// Header Menu themes
// Light
//@import "./_metronic/_assets/sass/themes/layout/header/menu/light.scss";
// Dark
// @import "./_metronic/_assets/sass/themes/layout/header/menu/dark.scss";

// Brand themes
.brand-dark {
  @import "./_metronic/_assets/sass/themes/layout/brand/dark.scss";
}
// Light
.brand-light {
  @import "./_metronic/_assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// Dark
//@import "./_metronic/_assets/sass/themes/layout/aside/dark.scss";
// Light
// @import "./_metronic/_assets/sass/themes/layout/aside/light.scss";

// .example-highlight {
//   padding: 0rem 1.5rem 1.75rem !important;
// }

.MuiButtonBase-root{
  text-transform: none !important;
}
.example-highlight > pre {
  background: none transparent !important;
  margin: 0 !important;
  padding-top: 0.5rem; 
  code { 
      overflow-y: auto;
      display: block;

      span {
        background: none transparent !important;
      }
  }
}

.json > pre {
  background: none #fff !important;

}

.example-code > .json {
  background: none #fff !important;
}

.symbol.symbol-45 > svg {
  width: 100%;
  max-width: 45px;
  height: 45px;
}

.react-bootstrap-table {
  overflow-x: auto;
}

.react-bootstrap-table {
  th {
    outline: none;
   
    &.sortable {  
      .svg-icon-sort {
        opacity: 0;
      }
  
      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }    
  }

  .table.table-head-custom thead tr {
    .sortable-active {
        color: $primary !important;
    }
  }
}

.cursor-default {
  cursor: default !important;
}

.offcanvas{
  display: none;
}

.header{
  background-color: #1a1a27;
}

.profileBT{
  margin-left: 20px;
    span{
      width: 30px;
      height: 30px;
    }
}

.version{
  position: absolute;
  bottom: 17px;
  left: 3px;
}

.dateversion{
  position: absolute;
  bottom: 2px;
  left: 3px;
  font-size: 1.2vh;
}
.imgLogin{
  max-height: 150px !important;
}

.UserTop{
  height: 30px !important;
    width: 30px !important;
}

.TopTable{
  // display: grid;
  // grid-template-columns: auto auto;
  // border-center: 1px solid #1a1a27;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; 
   vertical-align: middle;
}


.flex-column-fluid{
  flex: 0.5 0 auto;
}

.notificationsIcon{
  margin: auto;
  margin-right: 30px;
  height: 30px !important;
  width: 30px !important;
}

.MuiTableCell-body{
  text-align: center !important;
}

.MuiTableCell-head{
  text-align: center !important;
}